In [3]:
num =[1,2,3,4,5]
print(type(num))
num1= set(num)
print(type(num1))
num2={1,"Gaurav","neupane"}
print(type(num2))

<class 'list'>
<class 'set'>
<class 'set'>

In [4]:
dublicate_nums=[1,2,3,2,1,2,3,2,1,3]
no_dublicate_nums=set(dublicate_nums)

In [5]:
print(no_dublicate_nums)

{1, 2, 3}

In [6]:
num1.add(10)
print(num1)
num2.update([1,2,3,44])
print(num2)

{1, 2, 3, 4, 5, 10}
{1, 2, 3, 'Gaurav', 'neupane', 44}

In [7]:
num2.discard(3)
print(num2)

{1, 2, 'Gaurav', 'neupane', 44}

In [8]:
num2.remove(2)
print(num2)

{1, 'Gaurav', 'neupane', 44}

In [9]:
num2.remove(3)

KeyError: 3

In [10]:
num2.pop()
print(num2)

{'Gaurav', 'neupane', 44}

In [11]:
#union
print(num1)
print(num2)
print(num1 | num2)

{1, 2, 3, 4, 5, 10}
{'Gaurav', 'neupane', 44}
{1, 2, 3, 4, 5, 'Gaurav', 10, 'neupane', 44}

In [12]:
#intersection
print(num1 & num2)

set()

In [13]:
#Difference
print(num1 - num2)

{1, 2, 3, 4, 5, 10}

In [14]:
#set Symmetric Difference
print(num1^num2)

{1, 2, 'Gaurav', 3, 4, 5, 10, 'neupane', 44}